# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
virtualenv/
enviroment/
env/
venv/
ENV/
env.bak/
venv.bak/
modelTrainerEnv/

# model and dataset
model/
gender_dataset_face/
